<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKR-lrl0B8ETjM-4c4ULJHkAj9dbhuDk4</string>
	<key>GCM_SENDER_ID</key>
	<string>264901290549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthOtp</string>
	<key>PROJECT_ID</key>
	<string>my-practice-148f1</string>
	<key>STORAGE_BUCKET</key>
	<string>my-practice-148f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264901290549:ios:20ea9a737432e714d89f7c</string>
</dict>
</plist>